{% include "header.html" %}

<div class="card border-light m-3 page-container">
    <div class="card-body">
        <h5 class="card-title">Announcements</h5>
        <hr class="bg-dark">
        <p class="card-subtitle text-dark" style="height: 20px;"><b>About FTS:</b></p>
        <p class="pt-2 pb-4">FILE TRACKING SYSTEM (FTS) is a web application that manages all the files movement
            from one desk to another one and helps them in managing the flow of files effectively and efficiently. All
            the files such as: reports, decisions, requests,reminders, and others can be processed and tracked by the
            system at any time.
        </p>
        <p class="card-subtitle text-dark"><b>IT Department :</b></p>
        <p class="card-text"><b>Date of Published: 22-04-2023 | Message Type: Help </b><span
                class="badge bg-danger">New</span></p>
        <p class="card-text">Follow bellow step to <span class="text-danger">Create New Employee</span> your
            department:-</p>
        <ol type="1">
            <li>
                <p>Login with Head of Department(HOD) user</p>
            </li>
            <li>
                <p>Go to "User Management" menu option</p>
            </li>
            <li>
                <p>Click on "Add User" button at upper left corner on page</p>
            </li>
            <li>
                <p> Select Circle,Division,Subdivision,Department,Designation,Role etc.</p>
            </li>
            <li>
                <p>Enter Emp Id, Name, ISMS login Id, email, mobile no and select active as "Yes"</p>
            </li>
            <li>
                <p>Click on "Save Changes" button</p>
            </li>
        </ol>

        <p class="card-text">Follow bellow step when <span class="text-danger">Employee transfer or retire:- </span></p>
        <ol type="1">
            <li>
                <p>Clear in process files in employee login by transfer files to other user</p>
            </li>
            <li>
                <p>Login with HOD user</p>
            </li>
            <li>
                <p>Go to "User Management" menu and search transferd employee by emp number</p>
            </li>
            <li>
                <p>Click on "Edit" button then select "Active" as "No" and provide Deactive reason</p>
            </li>
            <li>
                <p>Click on "Save Changes" button</p>
            </li>
        </ol>

        <p class="card-subtitle text-dark pt-3"><b>IT Department :</b></p>
        <p><b>Date of Published: 21-04-2023 | Message Type: Alerts </b><span class="badge bg-danger">New</span></p>
        <p>
            Please submitting ticket in "FIle Tracking System(FTS) module of HelpDesk system to resolve FTS related
            problems/query.
        </p>

        <p class="card-subtitle text-dark pt-3"><b>IT Department :</b></p>
        <p><b>Date of Published: 21-04-2023 | Message Type: Alerts </b></p>
        <p>
            All deparmental user are requested to create your respective users login in FTS for movement of other
            deparment files.
        </p>
    </div>
</div>

{% include "footer.html" %}